@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  /* body styles */
  body{
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }


  /* shared styles */
  .btn-primary{
    background-color: #E6533C;
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .btn-secondary{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: none;
    padding: 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
  }
  .title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .description{
    opacity: 0.65;
    font-weight: 300;
    margin-bottom: 20px;
  }

  /* header styles */
  .container{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  /* navbar styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;
  }
  .navbar > ul > li{
    margin-left: 2px;
    margin-right: 20px;
    font-size: 18px;
  }
  .brand{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
  }
  #home{
    background-color: rgb(230, 83, 60);
    border-radius: 39px;
    padding: 6px 20px;
  }

  /* banner-styles */
  .banner{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 120px;
  }
  .banner-content{
    width: 50%;
  }
  .banner-title{
    font-size: 4.3rem;
    font-weight: 900;
  }
  .banner-description{
    opacity: 0.5;
    margin: 28px 0;
  }
  .banner-image img{
    width: 100%;
    
  }
  .banner-image{
    position: relative;
  }
  .dot{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
    display: inline-block;
  }
  .banner-card-1, .banner-card-2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.822);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    position: absolute;
    padding: 15px;
  }
  .banner-card-1{
    bottom: 50px;
    left: -80px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .banner-card-2{
    top: 130px;
    right: -20px;
  }
  
  /* change you habit section styles */
  .change-your-habits{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
  }
  .card{
    display: flex;
    gap: 40px;
    margin-top: 50px;
  }
  .card img{
    border-radius: 50%;
  }
  .card-name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 6px;
  }
  .card-description{
    opacity: 0.5;
    font-weight: 300;
    font-size: 14px;
  }

  /* running activity section styles */
  .running-activity{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    background: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 18px;
    margin-bottom: 80px;
  }
  .running-content{
    width: 60%;
  }
  .running-image img{
    width: 100%;
    border-radius: 18px;
  }

  /* BMI calculator */
  .calculator-info{
    width: 50%;
    margin: 0 auto;
  }
  .chart-and-calculator-container{
    background: rgb(34, 34, 34);
    display: flex;
    gap: 100px;
    padding: 50px 100px;
  }
  .chart h3, .calculator h3{
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 15px;
  }
  table{
    border-collapse: collapse;
    margin-top: 50px;
  }
  td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 50px 10px 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  th{
    color: rgb(255, 255, 255);
  }
  .calculator{
    width: 55%;
  }
  input, select{
    width:270px;
    padding: 13px 40px 13px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 10px;
    font-size: 16px;
  }
  option{
    color: black;
  }
  #activity-factor{
    width: 555px;
  }
  @media screen and (max-width: 576px) {
  
    .banner, .card, .running-activity, .chart-and-calculator-container{
        flex-direction: column;
    }
    ul > li{
        display: none;
    }
    .banner{
        gap: 10px;
    }
    .banner-content, .running-content, .calculator{
        width: 100%;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .title{
      font-size: 2rem;
    }
    .running-content button{
      width: 100%;
    }

    td, th{
      padding: 10px 40px 10px 15px;
    }
    .calculator-info{
      width: 90%;
    }
    .chart-and-calculator-container{
      padding: 30px;
    }
    .chart h3, .calculator h3{
      font-size: 1.3rem;
    }
    input, select{ 
      width: 46%;  
      padding: 13px 20px;
      margin-right: 10px;
      font-size: 16px;
    }
    #activity-factor{
      width: 100%;
    }
  }