@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  /* body styles */
  body{
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }


  /* shared styles */
  .btn-primary{
    background-color: #E6533C;
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .btn-secondary{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: none;
    padding: 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
  }
  .title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .description{
    opacity: 0.65;
    font-weight: 300;
    margin-bottom: 20px;
  }

  /* header styles */
  .container{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  /* navbar styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;
  }
  .navbar > ul > li{
    margin-left: 2px;
    margin-right: 20px;
    font-size: 18px;
  }
  .brand{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
  }
  #home{
    background-color: rgb(230, 83, 60);
    border-radius: 39px;
    padding: 6px 20px;
  }

  /* banner-styles */
  .banner{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 120px;
  }
  .banner-content{
    width: 50%;
  }
  .banner-title{
    font-size: 4.3rem;
    font-weight: 900;
  }
  .banner-description{
    opacity: 0.5;
    margin: 28px 0;
  }
  .banner-image img{
    width: 100%;
    
  }
  .banner-image{
    position: relative;
  }
  .dot{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
    display: inline-block;
  }
  .banner-card-1, .banner-card-2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.822);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    position: absolute;
    padding: 15px;
  }
  .banner-card-1{
    bottom: 50px;
    left: -80px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .banner-card-2{
    top: 130px;
    right: -20px;
  }
  
  /* change you habit section styles */
  .change-your-habits{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .card{
    display: flex;
    gap: 40px;
    margin-top: 50px;
  }
  .card img{
    border-radius: 50%;
  }
  .card-name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 6px;
  }
  .card-description{
    opacity: 0.5;
    font-weight: 300;
    font-size: 14px;
  }
  @media screen and (max-width: 576px) {
    .banner, .card{
        flex-direction: column;
    }
    ul > li{
        display: none;
    }
    .banner{
        gap: 10px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .title{
      font-size: 2rem;
    }
  }